<!-- View a DeepOSM predicted error on the map.
-->

{% extends 'base.html' %}

{% block head_content %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <style> 
        #mapid { height: 70%; margin-top:20px;}
    </style>
{% endblock%}


{% block content %}
    
		<table>
		  <tr>
		  	  <td>
		  	  	   <span class=gray-span>{{ analysis_title }}</span> - Error ID {{ error.id }}
		  	  </td>
		      <td>
		            Certainty {{error.certainty}}
		      </td>
		      <td>
		          <span class=gray-span>NE</span> {{error.neLat}}, {{error.neLon}}
		      </td>
		      <td>
			        <span class=gray-span>SW</span> {{error.swLat}}, {{error.swLon}}
		      </td>
    	  </tr>
		</table>

    	<div id="mapid"></div>
		
		<script type="text/javascript">
        var mymap = L.map('mapid').setView([{{error.neLat}}, {{error.neLon}}], 13);

        var satLayer = L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/sat/{z}/{x}/{y}.png', {
            attribution: 'MapQuest',
            maxZoom: 17, })
        satLayer.addTo(mymap);

        var osmLayer = L.tileLayer('http://b.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 17, })
        osmLayer.addTo(mymap);
        osmLayer.setOpacity(.25);

    </script>

{% endblock %}
