<html>
	
	  <header>
	      <title>DeepOSM - Improve OpenStreetMap with Neural Networks</title>
	  </header>

	  <body>
    		<div style="background-color:#EFE; padding:10px">
      		  <h1 class=main-header><a href=/>DeepOSM</a></h1>
      		  <h2 class=main-header>Improve OpenStreetMap with Neural Networks</h2>
      	</div>
    		<div style="padding:10px">
    	      {% block content %}{% endblock %}
      	</div>
  	</body>

	  <style type="text/css">
	      body, h1.main-header {
	  	    	padding:0;
	  	    	margin:0;	      	
	      }
	      h2.main-header {
	  	    	margin-top:15px;
	  	    	margin-bottom:0;
	      }
	      h3 {
	      	margin-top:5px;
	      }
	  </style>
	
</html>
